
.head{
    display: flex;


}
h2{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}
h2 span{
    transition: 0.5s;
    margin-left: 20px;

}
h2:hover span:nth-child(1):after{
    content:'';

}
h2:hover span:nth-child(2)
{
    margin-left: 10px;
}
h2:hover span{
    color: #4a4141;
    text-shadow: 0 0 10px #2d2a2a05,
                 0 0 20px #2c2929,
                 0 0 40px #1c1616,
                 0 0 80px #232121,
                 0 0 120px #231e1e;
}