<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focal Echo</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <!-- <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/> -->

</head>

<body>
    <div id="fixed-image">
    </div>
    <div id="main">
        <div id="page1">
            <div id="nav">
                <img src="/images/assets/logo.png" alt="">
                <div id="container">
                    <h3><a href="#">Seller Register</a></h3>
                    <h3><a href="#">Seller-Login</a></h3>
                    <h3><a href="#">Buyer-Register</a></h3>
                    <h3><a href="#">Buyer-Login</a></h3>
                </div>
            </div>
            <div id="center">
                <div id="left">
                    <h3>Sundown is a multi-disciplinary studio focused on creating
                        unique, end-to-end experiences and enviroment</h3>
                </div>
                <div id="right">
                    <h1>
                        SPACES <br> THAT <br> INSPIRE
                    </h1>
                </div>
            </div>
            <div id="shape">
                <div id="shape1"></div>
                <div id="shape2"></div>
                <div id="shape3"></div>
            </div>
            <img id="badi-img" src="/images/uploads/4022ffaf-fc72-4a8c-a446-bbb3ab6d9a20.png"></img>
        </div>
        <div   data-scroll data-scroll-speed = "-4"  id="page2">
            <div id="moving-text">
                <div class="con">
                    <h1>EXPERIENCE</h1>
                    <div class="gola"></div>
                    <h1>CONTENT</h1>
                    <div class="gola"></div>
                    <h1>ENVIROMENT</h1>
                    <div class="gola"></div>
                    <h1>NATURE</h1>
                    <div class="gola"></div>
                </div>
                <div class="con">
                    <h1>EXPERIENCE</h1>
                    <div class="gola"></div>
                    <h1>CONTENT</h1>
                    <div class="gola"></div>
                    <h1>ENVIROMENT</h1>
                    <div class="gola"></div>
                    <h1>NATURE</h1>
                    <div class="gola"></div>
                </div>
                <div class="con">
                    <h1>EXPERIENCE</h1>
                    <div class="gola"></div>
                    <h1>CONTENT</h1>
                    <div class="gola"></div>
                    <h1>ENVIROMENT</h1>
                    <div class="gola"></div>
                    <h1>NATURE</h1>
                    <div class="gola"></div>
                </div>
            </div>
            <div id="page2-bottom">
                <h1>
                    We are a group of design- <br> driven,goal-focused creators, <br> producers, and designers <br>who believe that the details <br>makes all the difference.
                </h1>
                <div id="bottom-bottom">
                    <img src="https://uploads-ssl.webflow.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.jpg" alt="">
                    <p>We love to create, we love to solve, we love to collaborate, and we love to turn amazing ideas
                        into reality. We’re here to partner with you through every step of the process and know that
                        relationships are the most important things we build.</p>
                </div>
                <div id="gooey">
                    <div id="gooey1"></div>
                    <div id="gooey2"></div>
                </div>
            </div>
        </div>
        <div  id="page3">
        <div id="elem-container">
            <div class="elem" id="elem1" data-image="./img11.jpg">
                <div class="overlay"></div>
                <h2>DIVERSITY IN STYLE</h2>
            </div>
            <div class="elem" id="elem4" data-image="./img12.jpg">
                <div class="overlay"></div>
                <h2>BEFORE AND AFTER</h2>
            </div>
            <div class="elem" id="elem5" data-image="./img13.jpg">
                <div class="overlay"></div>
                <h2>CLIENT PROJECT</h2>
            </div>
            <div class="elem" id="elem6" data-image="./img14.jpg">
                <div class="overlay"></div>
                <h2>SEASONALTHEMES</h2>
            </div>
            <div class="elem" id="elem7" data-image="./img15.jpg">
                <div class="overlay"></div>
                <h2>PERSONAL TOUCH</h2>
            </div>

            <div class="elem" id="elem8" data-image="./img16.jpg">
                <div class="overlay"></div>
                <h2>CLITNT TESTIMONIALS</h2>
            </div>

        </div>
        </div>
        <div id="page4">
                    <div class="elemo">
                        <h2>Elegant Design</h2>
                        <img src="./roll1.jpg" alt=""></div>
                    <div class="elemo">
                        <h2>Personal Touch</h2>
                        <img src="./roll2.jpg" alt=""></div>
                    <div class="elemo">
                        <h2>Cost Effective</h2>
                        <img src="./roll3.jpg" alt=""></div>
        </div>
        <div id="page5"></div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
        integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
        integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>