<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/product.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="logo">logo</div>
            <div id="right">
                <a href="#">Home</a><a href="#">Cart</a><a href="#">Bot</a><a href="#">Logout</a>
            </div>
        </div>
        <div id="page1">
            <div id="search">
                <input type="search" name="filter" id="filter" placeholder="Search items here">
            </div>
            <div id="products">
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
                <div id="product">
                    <div id="image"></div>
                    <div id="data">
                        <h3>Title</h3>
                        <h3>Price</h3>
                        <h3>brand</h3>
                    </div>
                </div>
            </div>

            </div>
        </div>

<script src="/javascripts/product.js"></script>   
</body>
</html>