<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>succes</title>
</head>
<body style="display: flex;background-color: rgb(30, 29, 29)  ;align-items: center;justify-content: center;flex-direction: column;color: whitesmoke;">
    <h1>YOUR PAYMENT IS SUCCESFULL </h1>
    <a style="text-decoration: none;padding: 9px 20px;background-color: white;color: black;border-radius: 15px;" href="/product">SEE MORE PRODUCTS</a>
</body>
</html>