<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/team.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <div id="logo"><img src="/images/assets/logo.png" alt=""></div>
        <div id="right">
            <a href="/home">Home</a><a href="/product">Products</a><a href="/bot">Bot</a><a href="/logout" id="logout">Logout</a>
        </div>
    </div>
    <div id="pura">
    
    <div class="head">
        <h2>
            <span>OUR</span><span>TEAM</span>
        </h2>
    </div>

    
    <div class="wrapper">
         <div class="card">
            <img src="/images/assets/ayush tiwari.jpeg" alt="">
            <div class="info">
                <h1>Ayush Tiwari</h1>
                <p>Full Stack Developer</p>
                <a href="https://github.com/Ayush5071" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/ayush-tiwari-84a823281?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
                <a href="https://www.instagram.com/ayush_tiwari__jee?igsh=Mmdnb3VnaDEwamxx" target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
         </div>
         

         <div class="card">
            <img src="/images/assets/Sakshi.jpeg" alt="">
            <div class="info">
                <h1>Patil Sakshi Sunil</h1>
                <p>Front End Developer </p>
                <a href="https://github.com/Night-O" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/sakshi-patil-824526280?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" ><i class="ri-linkedin-box-fill"></i></a>
                <a href="https://www.instagram.com/sakshipatil_1111?igsh=MXAydmx3aDdudHoyNw=="  target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
         </div>

         <div class="card">
            <img src="/images/assets/piyush.jpeg" alt="">
            <div class="info">
                
                <h1>Piyush Mishra</h1>
                <p>Front End Developer</p>
                <a href="https://github.com/PiyushM12" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/piyush-mishra-113b47289?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" ><i class="ri-linkedin-box-fill"></i></a>
                <a href="https://www.instagram.com/pm.piyush_mishra?igsh=NTE1a29pZHlyb2F5" target="_blank"><i class="ri-instagram-fill"></i></a>
            </div>
         </div>

    </div>
</div>
</body>
</html>